# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# WebAssembly / Build
build/
*.wasm
*.js
!frontend/**/*.js

# VS / VSCode
.vs/
.vscode/
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates
